header.hero {
  padding: 4rem 0;
}
.hero__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.hero__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero__text {
  max-width: 400px;
}
.hero__image {
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}
